form {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  }
form div {
  height: 50px;
  width: 180px;
  text-align:center;
  color:#fff;
  padding-top:1em;
  padding-bottom:1em;
  box-sizing:border-box;
  background:rgba(52, 73, 94, 0.9);
}
form input {
  height: 50px;
  width: 180px;
  border-radius:0;
  font-size:18px;
  margin-bottom:8px;
}
